<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive" />
  </div>
</div>

<div class="">
  <h1>{{selectedRecipe?.name}}</h1>
</div>
<div class="">
  <button class="btn btn-success">To Shopping List</button>
  <button class="btn btn-primary">Edit</button>
  <button class="btn btn-danger">Delete</button>
</div>

<hr>

<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.desciption}}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    ingrediants ...
  </div>
</div>